services:
  backend:
    build: .
    ports:
      - "3000:8080"
    env_file:
      - .env.docker
    volumes:
      - ./src:/app/src
      - ./uploads:/app/uploads
    depends_on:
      - db
    
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=lokman
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data: